<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"  href="estilo.css" /> 
    <title>WebMedia</title>
</head>
<body>
<header>
  <div>
    <img src="img/logo_gif.gif" alt="logo">
  </div>
  <div>
      <nav class="nav">
        <ul>
          <li><a href="#">HOME</a></li>
          <li><a href="#">SERVICES</a></li>
          <li><a href="#">PORTFOLIO</a></li>
          <li><a href="#">NEWS</a></li>
          <li></li>
        </ul>
      </nav>
  </div>
</header>
<main>
  <section>
    <div class="barra1"></div>
    <div class="superior">
      <img src="img/img_edito.gif">
      <h2>LOREM IPSUM</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam id totam nemo reiciendis rem perspiciatis placeat est numquam dignissimos esse, sint perferendis soluta rerum deserunt? Vel at perferendis pariatur similique.</p>
      <br>
      <button>Free Estimate</button>
    </div>
  </section>
  <section class="container">
    <div class="esquerda">
      <h2>ABOUT ME</h2>
      <h3>Lorem ipsum dolor sit</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam id totam nemo reiciendis rem perspiciatis placeat est numquam dignissimos esse, sint perferendis soluta rerum deserunt? Vel at perferendis pariatur similique.</p>
    </div>
    <div class="barra2"></div>
    <div class="centro">
      <h2>NEWS</h2>
      <h4>25/01/2009</h4><h3>Arbitror spledore</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam id totam nemo reiciendis</p>
      <h4>25/01/2009</h4><h3>Arbitror spledore</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam id totam nemo reiciendis</p>
      <br>
      <button>More News</button>
    </div>
    <div class="direita">
      <h2>SERVICES</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        <ol>
          <li>Ipsam id totam nemo reiciendis</li>
          <li>Ipsam id totam nemo reiciendis</li>
          <li>Ipsam id totam nemo reiciendis</li>
          <li>Ipsam id totam nemo reiciendis</li>
          <li>Ipsam id totam nemo reiciendis</li>
        </ol>
        <br>
        <button>Discover</button>
      </div>
      </section>
      
    <footer>My Company ©2009 | <a href="#">Contact</a></footer>
  
</main>  
</body>
</html>