/* #751FA3 - roxo escuro
#F0A518 - laranja
#9C00F0 - roxo claro
#18F081 - verde claro
#08A353 - verde escuro */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

header {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#9c00f0, #751fa3);
}

header ul {
  list-style: none;
}

header li {
  margin: 2px 5px;
  width: 190px;
  padding: 10px;
  text-align: center;
}
header a {
  text-decoration: none;
  color: #fff;
}

header a:hover {
  color: #fff;
  background-color: #586fb5;
  padding: 5px 30px;
  border-radius: 15px;
}

header img {
  height: 200px;
}

nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #751fa3;
  /* background-color: #586fb5; */
}

nav .busca {
  margin-right: 20px;
  width: 200px;
}

nav button {
  font-size: 0.7rem;
  padding: 3px;
  border-radius: 20px;
  box-shadow: black 1px 1px 1px 1px;
  background-color: antiquewhite;
}

nav input {
  border-color: #751fa3;
  width: 125px;
}
@media (max-width: 750px) {
  nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .busca {
    margin: 20px 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
}

.flex {
  display: flex;
}

.box1 {
  background-image: url("imagens/acai01.jpg");
  background-size: cover;
  width: 100%;
  height: 80vh;
  color: #fff;
  text-shadow: 0px 0px 3px #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.lenda {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 48%;
  margin-bottom: 50px;
}

@media (max-width: 750px) {
  .box2 {
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
  }
  .lenda {
    width: calc(100% - 15px);
  }
}
.lenda h2 {
  color: #586fb5;
}

.box3 {
  display: flex;
  align-content: space-around;
  width: calc(100% - 100px);
  padding: 50px;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #9c00f0;
}

.beneficios {
  display: flex;
  flex-direction: row;
}

@media (max-width: 750px) {
  .beneficios {
    flex-direction: column;
  }
}

.item {
  display: flex;
  /* margin-left: 5%; */
  justify-content: space-between;
  flex-wrap: wrap;
}

.tituloBeneficios {
  display: flex;
  justify-content: center;
}

footer {
  width: 100%;
  display: flex;
  color: #fff;
}

.bloco_texto {
  max-width: 50%;
  margin-left: 30px;
}

.bloco_texto2 {
  max-width: 50%;
  margin-right: 30px;
}

h1 {
  font-size: 10rem;
  text-transform: uppercase;
}

@media (max-width: 750px) {
  h1 {
    font-size: 5rem;
  }
  h3 {
    font-size: 1.5rem;
    margin: 25px 0px;
  }
}

h3 {
  font-size: 3rem;
  margin-bottom: 30px;
  color: #f0a518;
  margin: 50px 0px;
  text-align: center;
}
h4 {
  font-size: 1rem;
  text-align: center;
  margin-top: 30px;
  color: #fff;
}

h5 {
  font-size: 0.7rem;
}

p {
  text-align: justify;
  margin-right: 5px;
}

.tmimg {
  width: 400px;
  float: left;
  margin: 15px;
}

.tmimg3 {
  width: 200px;
}

@media (max-width: 750px) {
  .tmimg {
    width: calc(100% - 10px);
    margin: 10px;
  }
}

.imagemtexto {
  display: flex;
  margin: 5px;
  flex-direction: column;
  align-items: center;
  width: 350px;
}

footer {
  width: 100%;
  color: #fff;
  background-color: black;
  padding: 60px 0px;
  display: flex;
}

footer a {
  font-size: 0.7rem;
  color: #fff;
  text-decoration: none;
}

h2 {
  font-size: 3rem;
  color: #fff;
  margin: 50px 0px;
  text-align: center;
}

h5 {
  font-size: 0.7rem;
}

.boxProdutos {
  width: 80%;
  color: #fff;
  margin-top: 100px;
  margin-bottom: 200px;
}

.boxQuemSomos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  color: #fff;
  margin-top: 100px;
  margin-bottom: 200px;
}
.boxContato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  color: #fff;
  margin-top: 100px;
  margin-bottom: 200px;
}

.backgroundProdutos {
  background-image: linear-gradient(#9c00f0, #586fb5);
}

.quemsomosBackground {
  background-image: linear-gradient(#9c00f0, #586fb5);
}

.boxProdutositens {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 45px;
}

.boxProdutos img {
  width: 350px;
  height: 350px;
  border: 5px solid #f0a518;
  margin: 10px;
  border-radius: 45px;
}

.mascara {
  background-image: linear-gradient(to right, #f0a518c6, #751fa3c6);
  position: absolute;
  margin-top: 15px;
  margin-left: 13px;
  height: 330px;
  width: 333px;
  display: none;
  padding: 10px;
  z-index: 1;
  border-radius: 44px;
}

.bloco:hover .mascara {
  display: flex;
  align-items: center;
  transition: 1s;
  border-radius: 44px;
}

.mascara p {
  text-align: center;
  font-size: 1.1rem;
  text-shadow: -1px 1px #000;
}

footer .logo {
  height: 100px;
}

.blocoFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: calc(100% - 90px);
  height: 110px;
  border-right: 2px solid #f0a518;
  padding-bottom: 0px 100px;
}

@media (max-width: 750px) {
  .blocoFooter {
    border-right: none;
  }
}

.emlinha {
  display: flex;
  flex-direction: row;
  margin: 0px 5px;
  margin-bottom: 40px;
}

.margem {
  margin: 0px 5px;
}

.brnone {
  border-right: none;
  text-align: center;
}

fieldset {
  padding: 50px;
  background-image: linear-gradient(to right, #f0a518c6, #751fa3c6);
  border-radius: 45px;
}

fieldset h3,
label {
  font-size: 1rem;
  color: #fff;
  margin: 50px 0px;
  text-align: center;
}
.background {
  background-color: #751fa3c6;
}
.button {
  display: flex;
  justify-content: center;
}
fieldset button {
  font-size: 1rem;
  padding: 3px;
  border-radius: 20px;
  box-shadow: black 2px 2px 2px 2px;
  background-color: antiquewhite;
}

/** QUEM SOMOS  **/
.quemsomos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 60%;
}
.quemsomos h4 {
  margin: 20px;
  padding: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
}

.quemsomos hr {
  margin-top: 30px;
  height: 3px;
  border: none;
  width: 50%;
  background-image: linear-gradient(to right, #751fa300, #f0a518c6, #751fa300);
}

.imagemfixed {
  width: 200px;
  height: 226px;
  position: fixed;
  background-image: url(imagens/parceira.png);
  background-size: cover;
  left: 0px;
}

.comochegar {
  padding: 10px;
  width: 60%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.comochegartexto {
  margin: 10px 20px 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 750px) {
  footer {
    flex-direction: column;
    background-color: #000;
    align-items: center;
  }

  .blocoFooter {
    width: 100%;
    background-color: #000;
    margin: 10px 5px;
  }
}
