* .menu {
    margin: 0;
    padding: 0;
  }
  .menu body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
  }
  .menu {
    list-style: none;
    border: 1px solid #c0c0c0;
    float: left;
  }
  .menu li {
    position: relative;
    float: left;
    border-right: 1px solid #c0c0c0;
  }
  .menu li a {
    display: block;
    text-decoration: none;
    color: #2a0d0d;
    background: rgb(170, 182, 193);
    padding: 5px;
    border: 1px solid #ccc;
  }
  .menu li a:hover {
    background: rgb(250, 245, 245);
    color: rgb(71, 58, 58);
    -moz-box-shadow: 0 3px 10px 0 #ccc;
    -webkit-box-shadow: 0 3px 10px 0 #ccc;
    text-shadow: 0px 0px 5px #fff;
  }
  .menu li ul {
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #fff;
    display: none;
  }
  .menu li:hover ul,
.menu li.over ul {
  display: block;
}
.menu li ul li {
    border: 1px solid #c0c0c0;
    display: block;
    width: 150px;
  }